.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interior {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 360px;
  padding-right: 16px;
  transition: padding-left 0.3s ease;
}

.interior-design {
  font-size: 64px;
  margin: 10px 0;
  font-weight: 550;
}

.interior-subtitle {
  font-size: 48px;
  color: #f44336;
  margin: 10px 0;
}

.underline {
  width: 50px;
  border: 5px solid red;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 20px;
}

.showcase-images {
  display: flex;
  opacity: 0.8;
  cursor: pointer;
  gap: 16px;
}

.showcase-images-left {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.showcase-images-left img {
  margin-bottom: 10px;
  width: 100%;
}

.showcase-images-right {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.showcase-images-right img {
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 992px) {
  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .interior {
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
    transition: padding-left 0.3s ease;
  }
}

@media (max-width: 600px) {
  .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .showcase-images {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .showcase-images-right {
    width: 100%;
  }

  .showcase-images-left {
    width: 100%;
  }
}
