footer {
  background-color: #009688;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}

.footer-p {
  text-align: center;
}

.footer-div1 {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
